.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input{
    width: 400px;
    height: 40px;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.display{
    display: flex;
    flex: 1 0 21%;
    flex-direction: row;
    justify-content: center;
}